<p>add-item works!</p>
<form [formGroup]="form">
   <mat-form-field appearance="fill">      
      <mat-label>name</mat-label>
      <input matInput placeholder="name" formControlName="name">
   </mat-form-field>
   <mat-form-field appearance="fill">      
      <mat-label>description</mat-label>
      <input matInput placeholder="description" formControlName="description">
   </mat-form-field>
   <mat-form-field appearance="fill">      
      <mat-label>price</mat-label>
      <input matInput placeholder="price" formControlName="price">
   </mat-form-field>
   <button [disabled]="form.invalid" type="button" mat-raised-button color="warn" (click)="saveItem()"><mat-icon>save</mat-icon> Save</button>
</form>